<div class="footer columns">
  <div class="column col-3 col-xs-12 col-sm-12">
    <div class="head">Информация</div>
    <div class="footer-link"><a href="#">О нас</a></div>
    <div class="footer-link"><a href="#">Клиентский сервис</a></div>
    <div class="footer-link"><a href="#">Политика использования</a></div>
    <div class="footer-link"><a href="#">Карта сайта</a></div>
    <div class="footer-link"><a href="#">Заказы и возврат</a></div>
    <div class="footer-link"><a href="#">Свяжтесь с нами</a></div>
  </div>
  <div class="column col-3 col-xs-12 col-sm-12">
    <div class="head">Почему покупают у нас</div>
    <div class="footer-link"><a href="#">Доставка и возврат</a></div>
    <div class="footer-link"><a href="#">Безопасность покупки</a></div>
    <div class="footer-link"><a href="#">Международная доставка</a></div>
    <div class="footer-link"><a href="#">Групповые покупки</a></div>
  </div>
  <div class="column col-3 col-xs-12 col-sm-12">
    <div class="head">Личный кабинет</div>
    <div class="footer-link"><a href="#">Вход</a></div>
    <div class="footer-link"><a href="#">Корзина</a></div>
    <div class="footer-link"><a href="#">Мои желания</a></div>
    <div class="footer-link"><a href="#">Отслеживание доставки</a></div>
    <div class="footer-link"><a href="#">Помощь</a></div>
  </div>
  <div class="column col-3 col-xs-12 col-sm-12">
    <div class="head">Новости</div>
  </div>
</div>
