<div class="columns offer">
  <div class="column col-lg-6 col-md-12  col-xs-12">
    <div class="offer-item">
      <div class="text-2">Специальное предложение</div>
      <div class="text-1">10% скидка</div>
      <div class="text-3">При покупке онлайн</div>
    </div>
  </div>
  <div class="column col-lg-6 col-md-12 col-xs-12">
    <div class="offer-item">
      <div class="text-1">Бесплатная доставка</div>
      <div class="text-2">при заказе от 1 000 руб</div>
      <div class="text-3">предложение распространяется на все товары</div>
    </div>
  </div>
</div>
