<div class="columns blog-rows">
  <div class="column col-6 col-xs-12 col-sm-12 col-md-12 blog-item">
    <div class="columns">
      <div class="column col-6 col-xs-4"><a href="#"><img class="img-responsive" src="http://static.livedemo00.template-help.com/magento_53918/media/wysiwyg/blog_img/small_1.jpg"></a></div>
      <div class="column col-6 col-xs-8">
        <a href="#">
          <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 02.02.2018</div>
          <div class="caption">О важности ухода за кожей в народной медицине</div>
        </a>
      </div>
    </div>
  </div>
  <div class="column col-6 col-xs-12 col-sm-12 col-md-12 blog-item">
    <div class="columns">
      <div class="column col-6 col-xs-4"><a href="#"><img class="img-responsive" src="http://static.livedemo00.template-help.com/magento_53918/media/wysiwyg/blog_img/small_1.jpg"></a></div>
      <div class="column col-6 col-xs-8">
        <a href="#">
          <div class="date"><i class="fa fa-clock-o" aria-hidden="true"></i> 02.02.2018</div>
          <div class="caption">О важности ухода за кожей в народной медицине</div>
        </a>
      </div>
    </div>
  </div>
</div>
