<div class="columns products">
  <div class="column col-sm-6 col-xs-6  col-md-6 col-lg-3 col-3">
    <div class="product">
      <div class="p-badge">Новый</div><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg">
      <div class="price">2 000 руб.</div>
      <div class="caption">Крем для лица Айва 5мл Крем для лица Айва 5мл</div>
      <div class="button-container"><button class="btn btn-primary to_cart btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; В корзину</button></div>
    </div>
  </div>
  <div class="column col-sm-6 col-xs-6  col-md-6 col-lg-3 col-3">
    <div class="product">
      <div class="p-badge">Новый</div><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg">
      <div class="price">2 000 руб.</div>
      <div class="caption">Крем для лица Айва 5мл</div>
      <div class="button-container"><button class="btn btn-primary to_cart btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; В корзину</button></div>
    </div>
  </div>
  <div class="column col-sm-6 col-xs-6  col-md-6 col-lg-3 col-3">
    <div class="product">
      <div class="p-badge">Новый</div><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg">
      <div class="price">2 000 руб.</div>
      <div class="caption">Крем для лица Айва 5мл</div>
      <div class="button-container"><button class="btn btn-primary to_cart btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; В корзину</button></div>
    </div>
  </div>
  <div class="column col-sm-6 col-xs-6  col-md-6 col-lg-3 col-3">
    <div class="product">
      <div class="p-badge">Новый</div><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg">
      <div class="price">2 000 руб.</div>
      <div class="caption">Крем для лица Айва 5мл</div>
      <div class="button-container"><button class="btn btn-primary to_cart btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; В корзину</button></div>
    </div>
  </div>
  <div class="column col-sm-6 col-xs-6  col-md-6 col-lg-3 col-3">
    <div class="product">
      <div class="p-badge">Новый</div><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg">
      <div class="price">2 000 руб.</div>
      <div class="caption">Крем для лица Айва 5мл</div>
      <div class="button-container"><button class="btn btn-primary to_cart btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; В корзину</button></div>
    </div>
  </div>
  <div class="column col-sm-6 col-xs-6  col-md-6 col-lg-3 col-3">
    <div class="product">
      <div class="p-badge">Новый</div><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg">
      <div class="price">2 000 руб.</div>
      <div class="caption">Крем для лица Айва 5мл</div>
      <div class="button-container"><button class="btn btn-primary to_cart btn-lg"><i class="fa fa-cart-plus" aria-hidden="true"></i>&nbsp; В корзину</button></div>
    </div>
  </div>
</div>
