.docs-content>.container.main-container{
    margin: 0 auto;
}

.card .product-price{
    text-align: right;
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.product-footer{
    text-align: right;
}