<% include base/head %>
    <div class="docs-container off-canvas off-canvas-sidebar-show">
        <% include base/navbar %>

            <div id="content" class="docs-content off-canvas-content">
                <div class="main-container">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Главная</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a>
                                О нас
                            </a>
                        </li>
                    </ul>
                    <div class="main-container">
                        <h1 class="s-title">
                            <a href="#grid" class="anchor" aria-hidden="true">#</a>О нас</h1>
                        <div class="docs-note">
                            <p>Layout includes flexbox based responsive grid system with 12 columns. </p>
                        </div>
                    </div>
                    <% include base/docfooter %>
                </div>
            </div>
    </div>
    <% include base/footer %>