<div class="menu-left">
  <div class="head">Категории</div>
  <div class="menu">
    <% categories.forEach(function(c) { %>
          <div class="item"><a href='/category/<%=c.url %>'><%=c.caption %></a></div>
    <% }); %>
  </div>
  <div class="base-head">Акции</div>
  <div class="special-product">
    <div class="columns">
      <div class="column col-5"><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg"></div>
      <div class="column col-7">
        <div class="price-wrap">
          <div class="old-price">200 руб.</div>
          <div class="new-price">170 руб.</div>
        </div>
        <div class="caption">Крем для лица Айва 5мл</div>
        <div class="description">Описание продукта Описание продукта Описание продукта Описание продукта</div>
      </div>
    </div>
  </div>
  <div class="special-product">
    <div class="columns">
      <div class="column col-5"><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg"></div>
      <div class="column col-7">
        <div class="price-wrap">
          <div class="old-price">200 руб.</div>
          <div class="new-price">170 руб.</div>
        </div>
        <div class="caption">Крем для лица Айва 5мл</div>
        <div class="description">Описание продукта</div>
      </div>
    </div>
  </div>
  <div class="special-product">
    <div class="columns">
      <div class="column col-5"><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg"></div>
      <div class="column col-7">
        <div class="price-wrap">
          <div class="old-price">200 руб.</div>
          <div class="new-price">170 руб.</div>
        </div>
        <div class="caption">Крем для лица Айва 5мл</div>
        <div class="description">Описание продукта</div>
      </div>
    </div>
  </div>
  <div class="special-product">
    <div class="columns">
      <div class="column col-5"><img class="img-responsive" src="http://rouse.one/images/uploadimg/NggyDkAkrem_dlya_lica_ayva.jpg"></div>
      <div class="column col-7">
        <div class="price-wrap">
          <div class="old-price">200 руб.</div>
          <div class="new-price">170 руб.</div>
        </div>
        <div class="caption">Крем для лица Айва 5мл</div>
        <div class="description">Описание продукта</div>
      </div>
    </div>
  </div>
</div>
