<% include ../base/head %>
  <% include ../components/menu/menu_top %>

    <div class="main-page">
      <div class="center-container-wrap-g">
        <div class="container grid-xl center-container">
          <div class="columns">
            <div class="col-menu-left column col-xs-12 col-sm-12 col-lg-4 col-xl-4 col-3">
              <% include ../components/menu/menu_left %>
            </div>
            <div class="column col-xs-12 col-md-12 col-sm-12 col-lg-8 col-xl-8 col-9">
                <div class="base-head"><%=category.caption %></div>
                <% include ../components/products %>
            </div>
          </div>
        </div>
      </div>

      <div class='center-container-wrap-w'>
        <div class="container grid-xl center-container">
          <div class="base-head">Популярные среди женшин вашего города</div>
          <div class="columns">
            <% include ../components/products %>
          </div>
          <% include ../components/blog_rows %>
            <% include ../base/footer %>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/common.js" charset="utf-8"></script>
    <script type="text/javascript" src="/category.js" charset="utf-8"></script>

    <% include ../base/bottom %>
