.base-head {
  background-color: $primary-bg;
  color: $primary-color;
  padding: 1rem 1rem 1rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {

  .col-menu-left{
    display: none;
  }
}
