.cart-component {
  background: #ddd;
  .container {
    background: #fff;
    padding: 1rem;
    .products {
      .product-img{
        width: 100px;
      }
      .count{
        width: 13%;
      }
    }
    .summa{
      text-align: right;
      color: $primary-color;
      font-size: 2rem;
    }
  }
}