<div class="docs-navbar">
  <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar">
    <i class="icon icon-menu"></i>
  </a>
  <a href="https://github.com/picturepan2/spectre" target="_blank" class="btn btn-primary">GitHub</a>
</div>
<div id="sidebar" class="docs-sidebar off-canvas-sidebar">
  <div class="docs-brand">
    <a routerLink="/" class="docs-logo">
      <img src='https://picturepan2.github.io/spectre/img/spectre-logo.svg' alt="Alisa.Shop">
      <h2>Alisa.Shop</h2>
    </a>
  </div>
  <div class="docs-nav">
    <div class="accordion-container">
      <div class="accordion">
        <input type="checkbox" id="docs-accordion-1" name="docs-accordion-checkbox" hidden checked>
        <div class="accordion-body">
          <ul class="menu menu-nav">
            <li class="menu-item">
              <a routerLink="/categories" >Категории</a>
            </li>
            <li class="menu-item">
              <a routerLink="/products">Товары</a>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
